
.card-cmp {
    background-color: #feffe5;
    border: 1px solid #e7e8ba;
    filter: drop-shadow(0 0 10px #00000033);
    /*min-height: 328px;*/
    padding: 25px;
}

.card-cmp h2 {
    color: #b39d37;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.cuadroTexto {
    height: 67%;
}

.product-card {
    background-color: #f6feff ;
    border-color: #a3d7e2 ;
}